<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nista Illustrates</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
  <div class="navbar">
    <img src="/photos/logo.png" width="69px" height="57px" style="margin-top: 8px; margin-left: 10px">
    <a href="/admin_upload"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Upload</a>
    <div class="dropdown">
      <button class="dropbtn">Categories 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/fanart_admin">Fanarts</a>
        <a href="/dogs_admin">Dogs</a>
        <a href="/TVshows_admin">TV Shows</a>
      </div>
    </div>
    <a href="/admin_art"><i class="fa fa-user" aria-hidden="true"></i> My arts</a> 
  </div>
</body>
</html>