<%- include admin_navbar.ejs %>
    <section class="background-image">
    <h1 style="font-family:Michella Garden; text-align: center; font-size: 48px;">Upload</h1>
    <div class="upload">
    <form method="post" action="/upload" enctype="multipart/form-data">
    <label style="font-weight: bold;">Categories:</label>
    <select name="categories" class="custom_select">
        <option>Fanarts</option>
        <option>Dogs</option>
        <option>TV Shows</option>
    </select><br><br><br><br>
    <b>Upload Art: </b> <input type="file" class="file" name="image">
    <br><br><br><br>
    <b>Title: </b><input type="text" class="text" name="title">
    <br><br><br><br>
    <b>Price: </b><input type="text" class="text" name="price">
    <br><br><br><br>
    <b>Description: </b><textarea rows="4" cols="50" class="describe" name="description"></textarea>
    <br><br><br><br>
    <button class="upload-button" type="submit">Upload</button>
    </form>
</div>
<br><br><br>

</section>
<%- include footer.ejs %>

