<%- include navbar.ejs %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fanarts</title>
</head>
<body>
    <h1 style="font-family:Michella Garden; text-align: center; font-size: 48px;">Fanarts</h1>
    <div class="card-right">
    <div class="card">
        <img src="/photos/maleficent.png" alt="fanart" style="width:100%">
        <div class="container">
          <h4><b>Maleficent</b></h4> 
          <h1>Rs 2400</h1> 
        </div>
      </div>
      <div class="card">
        <img src="/photos/maleficent.png" alt="fanart" style="width:100%">
        <div class="container">
          <h4><b>Maleficent</b></h4> 
          <h1>Rs 2400</h1> 
        </div>
      </div>
      <div class="card">
        <img src="/photos/maleficent.png" alt="fanart" style="width:100%">
        <div class="container">
          <h4><b>Maleficent</b></h4> 
          <h1>Rs 2400</h1> 
        </div>
      </div>
      <div class="card">
        <img src="/photos/maleficent.png" alt="fanart" style="width:100%" class="cardBorder">
        <div class="container">
          <h4><b>Maleficent</b></h4> 
          <h1>Rs 2400</h1> 
        </div>
      </div>
      </div>
</body>
</html>