<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <div class="footer">
        <p>Terms and Policies &#169;copyright 2022@nista illustrates</p>
    </div>
</body>
</html>