<%- include navbar.ejs %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- width="1117" height="742" style="margin-left: 105px; -->
    <div class="text1">
    <img src="/photos/resized most girls-02-02.png"  width="100%">
    <div class="center">Come explore the imagination</div>
    </div>
</body>
</html>
<%- include footer.ejs %>